* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    background-color: #f8f9fa;
    padding: 1.5rem;
    overflow: auto;
}


li, a, button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}


.logo{
    cursor: pointer;
    width: 10%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0rem 2.5rem;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 1.7rem;
}

.nav_links li a:hover{
    color: rgb(0, 85, 159);
    text-shadow: 3px 3px 2px gray;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 0.5rem;
    padding: 9px 25px;

    background-color: rgb(0, 85, 159);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cta:hover{
    transform: translateY(-3px);
    border: 2px solid white;
}

.cta span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
}

.cta i{
    filter: invert(100%);
}



.main-container {
    width: 50%;
    background-color: #fff;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title input,
.short-description input,
.picture input,
.ingredientChoose input,
.ingredientChoose select,
#instructions {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f1f1f1;
}

.category-select select {
    width: 15%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f1f1f1;
}

.ingredientChoose {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ingredientChoose input[type="text"]{
    max-width: 50%;
}

.ingredientChoose input[type="number"] {
    max-width: 12%;
}

.ingredientChoose select {
    max-width: 10%;
}

.ingredientsList{
    display: flex;
    flex-direction: column;

    row-gap: 1.1rem;
}



#instructions {
    resize: vertical;
}

.delete-bt{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ff3636;
    color: #fff;
}

#add-bt, 
#create-bt{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(0, 85, 159);
    color: white;
    transition: background-color 0.3s ease;
}

#add-bt:hover,
#create-bt:hover {
    background-color: rgb(0, 85, 159, 0.8);
}
