*{box-sizing: border-box;}

body{
    height: 100vh;
    width: 100%;
    margin: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CenterFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 100%;

    background-color: rgb(255, 239, 215);
}

.main{
    height: 80%;
    width: 80%;
}

.form-div{
    display: flex;
    justify-content: start;

    height: 100%;
    width: 40%;

    padding: 1% 0% 0% 5%;
    background-color: white;
    flex-direction: column;
}

.side-div{
    height: 100%;
    width: 60%;
    background-image: url("images/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title{
    height: 10%;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    height: 80%;
    width: 100%;

    overflow-y: scroll;
}

.in-form{
    height: 15%;
    width: 100%;

    margin: 1rem 0rem;
}

.in-form > div{
    height: 40%;
    width: 100%;

    font-size: 1.3rem;
    color: black;
}

.in-form > input{
    height: 60%;
    width: 90%;

    font-size: 1.1rem;
    outline: none;
    border: none;
    border: 1px solid #333333;
    border-radius: 5px;
    padding-left: 3%;
}

input[type="date"] {
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

.submit-div{
    height: 20%;
    width: 90%;
}

.submit-div > button{
    color: black;
    background-color: greenyellow;
    border-radius: 10px;
}

.submit-div > button {
    background-color: #a8ff44;
    color: #fff;
    position: relative;
    width: 150px;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 1;
    letter-spacing: 1px;
    box-shadow: #a8ff44 0px 7px 2px, #000 0px 8px 5px;
}
  
.submit-div > button:hover {
    opacity: 0.8;
}
  
.submit-div > button:active {
    top: 4px;
    box-shadow: #a8ff44 0px 3px 2px,#000 0px 3px 5px;
}

.sign-up-link{
    height: 10%;
    width: 90%;
}

.sign-up-link > a{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}