<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    
    <h1>Hello {{ name }}</h1>

    <div class="container">
        <div class="nav-bar">
            <a href="http://localhost:5000/recipe">Create Recipe</a>
        </div>
        <div class="main-section">

        </div>
    </div>

</body>
</html>