<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
</head>
<body>
        
    <h1>{{ name | safe}}</h1>

    <form action="" method="post">
        <input type="text" name="" placeholder="recipe title">
        <select name="category" id="">
            <option value="MainsDairy">Mains Dairy</option>
            <option value="Mains">Mains</option>
            <option value="Appetizers">Appetizers</option>
            <option value="Drinks">Drinks</option>
            <option value="Desserts">Desserts</option>
        </select>
        <div>
            <select name="ingredients" id="">
                <option value="water">water</option>
                <option value="flour">flour</option>
            </select>
            <select name="sizes" id="">
                <option value="oz">oz</option>
                <option value="gram">gram</option>
                <option value="cup">cup</option>
            </select>
        </div>
        <input type="text" name="" placeholder="short description">
        <textarea name="" rows="10" cols="50" placeholder="instructions"></textarea>
    </form>
    
</body>
</html>